{% extends "base.html" %}

{% block content %}
{% load static %}

<h1>Welcome</h1>
<div>
    <img id="my-photo" src="{% static 'images/my_foto.jpg' %}" alt="My Photo">
</div>
<div class="inside-main">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nostrum corporis laudantium quasi cupiditate officia quisquam expedita enim in accusantium, vero aut itaque nisi laboriosam qui iusto magnam voluptatem libero.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, reprehenderit facilis nemo corrupti unde iure consequuntur asperiores provident. Deleniti non, ad quaerat mollitia laboriosam beatae tempore maxime. Debitis, at sed.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam facere molestias expedita porro dolorem eius cupiditate fugiat fuga doloribus inventore, sunt explicabo numquam ipsam ab in. Quos qui sed maiores!
</div>

{% endblock %}