{% extends "base.html" %}

{% block content %}
{% load static %}

<h1>HollyMovies</h1>
<div>
    <img id="my-photo" src="{% static 'images/my_foto.jpg' %}" alt="My Photo">
</div>
<div class="inside-main">
    Welcome to HollyMovies - your cool source for movie information! On this website, you'll find various films, from action to romance. HollyMovies is here for your awesome cinematic adventure!
</div>
<div class="inside-main">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laborum soluta illum voluptates ipsa consectetur voluptatibus, assumenda molestiae odit aspernatur pariatur ex sint qui, iusto consequatur possimus, maxime cum beatae!
</div>
<div class="inside-main">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugiat officia aliquam ut vel aspernatur, eligendi ipsum molestias cum possimus quia exercitationem eveniet ducimus sunt autem incidunt neque consequuntur nulla.
</div>

    {% endblock %}