{% extends "base.html" %}

{% block content %}
{% load static %}

<h1>HollyMovies</h1>
<div>
    <img id="my-photo" src="{% static 'images/my_foto.jpg' %}" alt="My Photo">
</div>
<div class="inside-main">
    Welcome to HollyMovies - your cool source for movie information! On this website, you'll find various films, from action to romance. HollyMovies is here for your awesome cinematic adventure!
</div>
<div class="inside-main">
    Diverse Collection: We have lots of movies of different kinds to cover all your moods. Whether you're looking for action, romance, or something in between, you'll find it here!
</div>
<div class="inside-main">
    Easy Search: With our simple search, you can find movies that interest you. Just a few clicks, and you're ready for some movie-watching.
</div>
<div class="inside-main">
    Up-to-date Information: HollyMovies is always current! We keep track of new films and add them so you can have access to the latest cinematic experiences.
</div>
<div class="inside-main">
    Our team hopes that HollyMovies makes it easier for you to explore the world of film. Thanks for joining us on this cinematic journey!
</div>

{% endblock %}