{% extends "base.html" %}

{% block content %}
<h1>List of persons:</h1>
<div class="persons">
    <h2>All:</h2>
    <div class="persons">
        <ul>
            {% for person in object_list %}
                <li><a href="{% url 'person' person.id %}">{{ person }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}



<!-- 
    <h2>List of actors:</h2>
    <div class="inside-main">
        {% for person in persons %}
            {% for movie in person.acting_movie.all %}
                <a href="{% url 'person' person.id %}">{{ person }},</a>
            {% endfor %}
        {% empty %}
        None
        {% endfor %}
    </div>

    <h2>List of directors:</h2>
    <div class="inside-main">
        {% for person in persons %}
            {% for movie in person.directing_movie.all %}
                <a href="{% url 'person' person.id %}">{{ person }},</a>
            {% endfor %}
        {% empty %}
        None
        {% endfor %}
    </div>
    <h2>All:</h2>
    <div class="persons">
        <ul>
            {% for person in persons %}
                <li><a href="{% url 'person' person.id %}">{{ person }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


-->