{% extends "base.html" %}

{% block content %}
    <h1>{{ person.first_name }} {{ person.last_name }}</h1>
    <div class="first-name">First name: {{ person.first_name }}</div>
    <div class="last-name">Last name: {{ person.last_name }}</div>
    <div class="birth-date">Birthdate: {{ person.birth_date }}</div>
    <div class="death-date">Deathdate: {{ person.death_date }}</div>
    <div class="age">Age: {{ person.age }}</div>
    <div>
        {% for movie in person.acting_movie.all %}
            <a href="{% url 'movie' movie.id %}">{{ movie }},</a>
        {% empty %}
        Nehral v ziadnom filme...
        {% endfor %}
    </div>
    <div>
        {% for movie in person.directing_movie.all %}
            <a href="{% url 'movie' movie.id %}">{{ movie }},</a>
        {% empty %}
        Nereziroval ziadny film...
        {% endfor %}
    </div>


    <h3>Biography:</h3>
    <div class="inside-main">{{ person.biography }}</div>

{% endblock %}