{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>HollyMovies</title>
</head>
<body>
    <header>
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <a href="{% url 'index' %}"><div>Home</div></a>
            <a href="{% url 'movies' %}"><div>Movies</div></a>
            <!-- <a href="portfolio.html"><div>Admin</div></a> -->
            <!-- <a href="contact.html"><div>Contact</div></a> -->
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <div id="copywright-text"></div>
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>